<table>
    <tr>
        <th>Recieving Account</th>
        <td> </td>
    </tr>
    <tr>
        <th>Transaction Date</th>
        <td> <%= f.text_field(:transactionDate) %> </td>
    </tr>
    <tr>
        <th>Currency</th>
        <td> <%= f.text_field(:currency) %> </td>
    </tr>
  </table>
