<!doctype html>
<html lang="en">
  <head>
    <title>New customer information</title>
  </head>
  <body>
    <div class=container>
        <%=  bootstrap_form_for(@customer, :method => 'post') do |f| %>
          <%= f.text_field :customerNumber, :readonly => true, label: "Customer Number" %>
          <%= render(:partial => 'form', :locals => {:f => f}) %>
          <%= f.submit("Save Changes") %>
        <% end %>
    </div>
  </body>
