<!<!DOCTYPE html>
<head>
</head>
<body>
  <br>
  <h2>View Customers</h2>
  <div>
    <table>
      <thead>
        <tr>
          <td>Customer Number</td>
          <td>Forename</td>
          <td>Surname</td>
          <td>Date of Birth</td>
        </tr>
      </thead>
      <tbody>
        <% @customers.each do |customer| %>
        <tr>
          <td><%= customer.customerNumber %></td>
          <td><%= customer.forename %></td>
          <td><%= customer.surname %></td>
          <td><%= customer.dob %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</body>
